* {
  font-family: Arial;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}


.map {
  height: 90vh;
  width: 150vh;
  margin: 0 auto;
}

.cluster-icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: aquamarine;
  transform: translate(-35%, -35%);
  align-items: center;
  justify-content: center;
  display: flex;
  color: black;
  font-size: 2rem;
  font-weight: 400;
}  
